/*.suo
/Stakraft.SpotLessPlan.sln.DotSettings
/Stakraft.SpotLessPlan.sln.DotSettings.user
Statkraft.SpotLessPlan.Core/Statkraft.SpotLessPlan.Core.csproj.user
Statkraft.SpotLessPlan.Core/bin
Statkraft.SpotLessPlan.Core/obj
Statkraft.SpotLessPlan.Infrastructure/Statkraft.SpotLessPlan.Infrastructure.csproj.user
Statkraft.SpotLessPlan.Infrastructure/bin
Statkraft.SpotLessPlan.Infrastructure/obj
Statkraft.SpotLessPlan.Tests/Statkraft.SpotLessPlan.Tests.csproj.user
Statkraft.SpotLessPlan.Tests/bin
Statkraft.SpotLessPlan.Tests/obj
Statkraft.SpotLessPlan.Web/App/*.js
Statkraft.SpotLessPlan.Web/App/*.map
Statkraft.SpotLessPlan.Web/App/bindingHandlers/*.js
Statkraft.SpotLessPlan.Web/App/bindingHandlers/*.map
Statkraft.SpotLessPlan.Web/App/config/*.js
Statkraft.SpotLessPlan.Web/App/config/*.map
Statkraft.SpotLessPlan.Web/App/services/*.js
Statkraft.SpotLessPlan.Web/App/services/*.map
Statkraft.SpotLessPlan.Web/App/tests/**/*.js
Statkraft.SpotLessPlan.Web/App/tests/**/*.map
Statkraft.SpotLessPlan.Web/App/utils/*.js
Statkraft.SpotLessPlan.Web/App/utils/*.map
Statkraft.SpotLessPlan.Web/App/viewmodels/*.js
Statkraft.SpotLessPlan.Web/App/viewmodels/*.map
Statkraft.SpotLessPlan.Web/App/viewmodels/planning/*.js
Statkraft.SpotLessPlan.Web/App/viewmodels/planning/*.map
Statkraft.SpotLessPlan.Web/App/views/*.js
Statkraft.SpotLessPlan.Web/App/views/*.map
Statkraft.SpotLessPlan.Web/App/widgets/*.js
Statkraft.SpotLessPlan.Web/App/widgets/*.map
Statkraft.SpotLessPlan.Web/App/widgets/reservoir/*.js
Statkraft.SpotLessPlan.Web/App/widgets/reservoir/*.map
Statkraft.SpotLessPlan.Web/App/widgets/status/*.js
Statkraft.SpotLessPlan.Web/App/widgets/status/*.map
Statkraft.SpotLessPlan.Web/App/widgets/timeSeriesAdmin/*.js
Statkraft.SpotLessPlan.Web/App/widgets/timeSeriesAdmin/*.map
Statkraft.SpotLessPlan.Web/Properties/PublishProfiles/*.user
Statkraft.SpotLessPlan.Web/Scripts/highcharts-plugins.js.map
Statkraft.SpotLessPlan.Web/Scripts/sevent.js
Statkraft.SpotLessPlan.Web/Scripts/sevent.js.map
Statkraft.SpotLessPlan.Web/Statkraft.SpotLessPlan.Web.csproj.user
Statkraft.SpotLessPlan.Web/bin
Statkraft.SpotLessPlan.Web/obj
Statkraft.SpotLessPlan.ShopOptimization/bin
Statkraft.SpotLessPlan.ShopOptimization/obj
/bin
/obj
Statkraft.SpotlessPlan.sln.DotSettings.user
Statkraft.SpotLessPlan.Web/App/viewmodels/operational/operationalAlertDialog.js
Statkraft.SpotLessPlan.Web/App/viewmodels/operational/operationalAlertDialog.js.map
/**/App/bundle.*
NuGet/**/*.nupkg
NuGet/*.nupkg
_NCrunch_*
*.ncrunch*
*.DotSettings
*.tmp
/node_modules
